*,
*::after,
*::before{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    list-style: none;
}



/* root variable*/

:root{
    --color-primary:#6a26f0;
    --color-navbar:#f8f8f8;
    --color-secondary-dark:#4600cf;
    --color-secondary-light:#decdff;
    --color-heading:#000;
    --color-body:#333333;
    --color-white:#ffff;
    --color-bg-body:#f1f3f4;


}
html{
    font-size: 62.5%;

}
body{
    background-color: var(--color-bg-body);
    color: var(--color-body);
    font-size: 1.6rem;
}

/* add font style */

h1,
h2,
h3{

    color: var(--color-heading);
    font-weight: 700;

}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2.2rem;
}

/* responsive style */

@media screen and  (min-width:1024px) 
{
    body{
        font-size: 1.8rem;
    }
    h1{
        font-size: 5rem;
    }
    h2{
        font-size: 3.5rem;
    }

    .btn{
        font-size: 1.6rem;
    }
    .btn-block{
        font-size: 2rem;
    }



    
}

/* add button style  */

.btn{
    outline: 0;
    border: 0;
    cursor: pointer;
    border-radius: 8px;
    padding: 2rem 2.5rem;
    margin: 1rem 0;
    text-align: center;
    white-space: nowrap;
    font-size: 1.4rem;
     
}

.btn--primary{
    background-color: var(--color-primary);
    color: var(--color-white);
}

.btn--secondary-light{
    background-color: var(--color-secondary-light);
}


.btn-block{
    width: 100%;
    font-size: 1.6rem;
}

/* navbar*/

.main-header{
    background-color: var(--color-navbar);

}
.nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 2rem;

}
.nav__list{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;


}

.nav__item{
    margin-bottom: 1rem;
    border-bottom:1px solid #ccc  ;
}

.nav__item >a{
    text-decoration: none;
    color: #444; 
    display: block;
    padding-bottom: 1rem;
}
.nav__item>a:hover{
    color: var(--color-primary);
}

.nav__toggler{
    background-color: gold;
    
}

/* nav responsive */

@media screen  and (min-width:768px){
    .nav__toggler{
        display: none;
    }
    .nav__list{
        flex-direction: row;
        align-items: center;
        width: auto;
    }
    .nav__item{
        margin-left: 2rem;
        font-size: 1.6rem;
        border: 0;
    }

    
}